/* 
============================= CSS Structure =============================
0. COLOR PALETTE

1. GLOBAL STYLES		
	- 11. Global Styles / Resets
	- 12. Bootstrap Overrides / Resets
	- 13. Custom Styles
				
2. LAYOUT
	- 21. Navbar
	- 22. Page Sections
		- 221. Top Banner
		- 222. Tagline
		- 223. 4 Blocks
		- 224. 3x3
		- 225. Case Studies
		- 226. Before / After
		- 227. Testimonials
		- 228. Footer	
=========================================================================== */

/* -------------------- COLOR PALETTE --------------------
modit green: #95bc11;
modit green darker: #8aab18;
modit grey: #8d8d8d;
*/

/* -------------------- 1. GLOBAL STYLES -------------------- */

/* --------------- 11. Global Styles / Resets --------------- */
body {
	color:#fff;
	font-size:14px;
	padding: 0;
	font-family: 'Raleway', sans-serif !important;
	-webkit-font-smoothing:antialiased;
}
h1,h2,h3,h4,h5,h6,p,li,a{
	font-family: 'Raleway', sans-serif;
	letter-spacing:1px;
}
p{
	letter-spacing: 0.5px !important;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
}
a, a:hover, a:focus, .btn:focus{
	text-decoration: none;
	outline: none;
}
a {
	color: #95bc11;
}
a:hover, a:focus {
	color: #8aab18;
}
.container {
	width:100%;
	max-width:1170px;
	overflow: hidden;
}
.section{
	padding :100px 0px 110px;
}
.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
.bold{
	font-weight:700;
}
.normal{
	font-weight:normal;
}
.white{
	color:#fff;
}
.italic{
	font-style:italic;
}
.header{
	padding-bottom:25px;
}
.highlight {
	color: #95bc11;
}
.no-padding{
	padding:0px;
}
.animated{
	visibility:hidden;
}
.visible{
	visibility:visible;
}

[type="button"]::-moz-focus-inner {
  border: 0;
}

button:focus {
	outline:none;
}
.parallax {
	background-size: cover;
	background-repeat: repeat-y;
	background-position: 0 50%;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
@media screen and (min-width: 1120px) {
	.parallax {
		background-attachment: fixed;
	}
}
.layer {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.ml80 {
	margin-left: 80px !important;
}

.ml80 i {
	left: -80px !important;
}

/* --------------- 12. Bootstrap Overrides / Resets --------------- */

.btn {
	/*border-width: 2px;*/
}

.btn-success, 
.btn-success.inverse:active, 
.btn-success.inverse:focus, 
.btn-success.inverse:hover {
	color: #fff;
	background-color: #95bc11;
	border-color: #95bc11;
}

.btn-success:active,
.btn-success:focus,
.btn-success:hover {
	border-color: #8aab18;
	background-color: #8aab18;
}
.btn:active,
.btn.active {
	-webkit-box-shadow: none;
			box-shadow: none;
}

.btn-success.inverse {
	background-color:transparent;
	border-color: #95bc11;
	color: #95bc11;
	border-width: 2px;
}
/* ---------------  13. Custom Styles --------------- */

/* Social Icons */
.facebook:hover{ background: #3c599f !important;  border-color: #3c599f; }
.twitter:hover{ background: #2b9ce2 !important;  border-color: #2b9ce2; }
.google:hover{ background: #dd4b39 !important;  border-color: #dd4b39; }
.linkedin:hover{ background: #0177B5 !important;  border-color: #0177B5; }
.skype:hover{ background: #00AFF0 !important;  border-color: #00AFF0; }
.youtube:hover{ background: #e94539 !important;  border-color: #e94539; }
.dribble:hover{ background: #EA4C89 !important;  border-color: #EA4C89; }
.flickr:hover{ background: #FE0072 !important;  border-color: #FE0072; }
.github:hover{ background: #ccc !important;  border-color: #ccc; }

/* --- Transitions --- */
/* Buttons */
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default,
/* Navbar */
nav, .modit-logo, .navbar-nav li a, .navbar-btn, .navbar-toggle
{
	/*transition:all 0.3s ease 0s;
	-ms-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;*/
	transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}

/* special image icons */
i.modit {
    display: inline-block;
    position: relative;
    padding-left: 48px;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
}

i.modit:before {
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	width:50px;
	height: 50px;
	display: inline-block;
	margin: 0 5px 0 0;
	color: #1d1d1b;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

/* -------------------- 2. LAYOUT -------------------- */

/* --------------- 21. Navbar --------------- */

.navbar-modit {
	background: #222;
	height: 100px;
}

.navbar-modit.sticky {
	height:70px;
}

.modit-logo {
	height: 52px;
	padding: 2px 0 0 15px;
}

.sticky .modit-logo {
	height: 30px;
	padding: 0 0 0 5px;
}

.navbar-modit .navbar-nav {
	margin: 0;
}

.navbar-modit .navbar-nav li a {
	height:100px;
	line-height: 100px;
	padding: 0 5px;
	color: white;
	font-weight: 500;
	border-bottom:3px solid transparent;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.sticky .navbar-nav li a {
	height:70px;
	line-height: 68px;
}

@media (min-width: 820px) {
	.navbar-modit .navbar-nav li a {
		padding: 0 10px;
	}
}

@media (min-width: 992px) {
	.navbar-modit .navbar-nav li a {
		padding: 0 20px;
	}
}

.navbar-modit .navbar-collapse {
	background: #222;
}

.navbar-modit .navbar-btn {
	margin: 33px 15px !important;
}

.sticky .navbar-btn {
	margin: 17px 15px !important;
}

.navbar-modit .navbar-btn .btn {
	font-weight: 500;
}

/* Mobile nav menu */

@media (max-width: 819px) {
	
	.navbar-modit .in ul  {
		margin-bottom: 15px;
	}
	.navbar-modit .in .navbar-nav li a {
		height:40px;
		line-height: 40px;
		transition: none;
		border-bottom:none;
		border-left:3px solid transparent;
		text-align: center;
	}
	.navbar-modit .in .navbar-btn {
		  margin: 15px 0 !important;
	}
	.navbar-modit .in .navbar-btn .btn {
		width:100%;
	}
}

.navbar-modit .nav>li>a:focus, 
.navbar-modit .nav>li>a:hover,
.navbar-modit .nav>li>a.active {
	background-color: transparent;
	border-color: #95bc11;
}


/* Toggle icon */
.navbar-modit .navbar-toggle.collapsed {
    border-color: #8d8d8d;
    background: transparent;
}
.navbar-modit .navbar-toggle.collapsed .icon-bar {
    background-color: #8d8d8d;
}

.navbar-modit .navbar-toggle {
    border-color: #95bc11;
    background: #95bc11;
}
.navbar-modit .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-toggle .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
}
.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    float: right;
    margin: 31px 33px 33px 0;
    padding: 9px 10px;
    position: relative;
}

.sticky .navbar-toggle {
	margin: 17px 33px 33px 0;
}

/* --------------- 22. Page Sections --------------- */

/* ---------- 221. Top Banner Section ---------- */
.top-banner{
	background: url(../images/modit-banner.jpg) no-repeat center top #000;
	/*background: url(../images/modit-banner.jpg) 50% 0 repeat fixed;*/
	margin-top: 50px;
	padding-top: 100px;
	width: 100%;
	min-height: 650px;
	/*text-align:center;*/
	background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-webkit-background-size: cover;
}
.top-banner .container {
	max-width: none;
	width: 100%;
	padding-top: 100px;
}
.top-banner h1{
	font-size: 36px;
	line-height: 50px;
	font-weight: 700;
	margin: 0;
}
.top-banner h2{
	font-size: 31.5px;
	font-weight: 700;
	margin: 0;
}
.top-banner h4{
	font-size: 18.5px;
	font-weight: 700;
	margin-top: 40px;
}
.call-to-action{
	width:100%;
	margin-top:40px;
	font-size: 25px;
	font-weight: 700;
}
@media (min-width: 820px) {
	.call-to-action{
		width:400px;
	}
	.top-banner .container {
		padding-left:80px;
	}
}

.scrolldown {
	padding-top:80px;
}
.scrollarrow {
	color: #fff !important;
	opacity: 0.5;
}
.scrollarrow:hover {
	opacity: 1;
}
/* ---------- 222. Tagline ---------- */

.tagline {
	background: #111;
	text-align:center;
}
.tagline .container {
	max-width: none;
	width: 100%;
	padding: 10px 0;
}
.tagline h1{
	font-size: 36px;
	font-weight: 400;
	margin: 20px 0;
}
.tagline p {
	font-size: 20px;
	margin-bottom: 20px;
}

/* ---------- 223. 4 Blocks ---------- */

.blocks {
	background: #181818; /*151515*/
	/*text-align:center;*/
}
.blocks .container {
	max-width: none;
	width: 100%;
	padding: 40px;
}
.blocks .header {
	padding-bottom: 18px;
}
.blocks h1{
	text-align: left;
	font-size: 20px;
	font-weight: 700;
	margin: 20px 0 10px 65px;
}
.blocks .block {
	padding: 0 20px;
}
.blocks i {
	float: left;
	position: relative;
	left:-65px;
}
.blocks i:before {
	font-size: 42px;
	color:white;
}
.blocks p {
	font-size: 16px;
	margin-bottom: 40px;
}

i.cloud-deploy:before {
	background: url(../images/cloud-deploy1.png) no-repeat;
	width:68px;
	height:52px;
}

i.happiness:before {
	background: url(../images/happiness1.png) no-repeat;
	width:52px;
	height:52px;
}
@media (min-width: 992px) {
	.blocks .container {
		padding: 40px 80px 15px;
	}
}
/* ---------- 224. 3x3 ---------- */

.three {
	background: url(../images/cubes-overlay.png) repeat scroll #1f1f1f; /*111*/
}

.three .container {
	max-width: none;
	width: 100%;
	padding: 40px;
}
@media (min-width: 992px) {
	.three .container {
		padding: 40px 80px;
	}
}
.three h1 {
	font-size: 35px;
	font-weight: 400;
}
.three h2 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 70px;
}

.icon-box .icon-box-icon {
	width: 67px;
	height: 67px;
	text-align: center;
	vertical-align: middle;
	line-height: 65px;
	font-size: 40px;
	margin-top: 2px;
	float: left;
	color: #1e1e1e;
}

.icon-box .icon-box-content {
	margin-left: 50px;
}
.icon-box .icon-box-icon-circle,
.icon-box .icon-box-icon-square {
	background: #87a816; /*#95bc11;8aab18*/
}
.icon-box .icon-box-icon-circle img,
.icon-box .icon-box-icon-square img {
	max-width: 28px;
	max-height: 28px;
	margin-top: -5px;
}
.icon-box .icon-box-content {
	margin-left: 85px;
}
.icon-box-icon-square {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.icon-box-icon-circle {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.three .icon-box {
	margin-bottom: 40px;
}

.three .icon-box h3 {
	font-size: 17px;
	font-weight: 700;
	margin-bottom: 20px;
}

.three .icon-box p {
	font-size: 16px;
	font-weight: 400;
	/*text-align: justify;*/
}

.three .row .col-md-4 {
	padding: 0 25px;
}

i.cloud-sync:before {
	background: url(../images/cloud-sync.png) no-repeat;
	width:68px;
	height:52px;
}

.icon-box i.modit {
	top: -25px;
	left: -2px;
}

.icon-box-icon-square .fa-cubes {
	position: relative;
	left: 2px;
}
.icon-box-icon-square .fa-check-square-o {
	position: relative;
	left: 2px;
	top: 2px;
}

/* ---------- 226. Before / After ---------- */

.ba {
	background: #0c0c0c;
}

.ba .container {
	max-width: none;
	width: 100%;
	padding: 60px 80px 75px;
}
.ba table {
	font-size: 18px;
	line-height: 40px;
	text-align: center;
	margin: 0 auto;
	width:100%;
}

.ba table th {
	color: #95bc11;
	text-align: center;
	border-bottom: 2px solid #ccc;
	font-size: 20px;
}
.ba table tr.odd {
	background: rgba(255, 255, 255, 0.05); /*0.02*/
}
/*.ba table tr:hover {
	color: #95bc11;
}
.ba table tr:hover i{
	color: #8aab18;
}*/
.ba table td {
	border-bottom: 2px solid #333;
}
.ba table td i {
	color: #222;
}

.ba table i {
	font-size: 38px;
	position: relative;
	top: 4px;
}

.ba table tr,
.ba table td {
	padding: 0;
}
.ba table .highlight {
	font-weight:bold;
}
@media (min-width: 820px) {
	.ba table tr,
	.ba table td {
		padding: 0 20px;
	}
}

@media (min-width: 992px) {
	.ba table tr,
	.ba table td {
		padding: 0 40px;
	}
}


/* ---------- 227. Testimonials ---------- */

.testimonials {
	/*background: #0c0c0c;*/
	/*background: url(../images/cubes-overlay.png) repeat scroll #111;*/
	background: url(../images/team-meeting.jpg) 50% 0 repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 200px;
	position:relative;
}
/*.testimonials .layer {
	background: rgba(0,0,0,.5);
}*/
.testimonials .container {
	max-width: none;
	width: 100%;
	padding: 40px;
}
@media (min-width: 992px) {
	.testimonials .container {
		padding: 40px 80px;
	}
}
.testimonials h1 {
	font-size: 35px;
	font-weight: 400;
	margin-bottom: 70px;
}

.testimonials h3 {
	font-size: 17px;
	font-weight: 400;
	margin-bottom: 20px;
	color: #8d8d8d;
}

.testimonials p, .testimonials .test-person {
	font-size: 17px;
	font-weight: 400;	
}
.test-content {
	margin-bottom: 20px;
	text-align: justify;
}

.testimonials .col-md-4 {
	padding: 0 25px;
}

.test-icon {
	height: 65px;
}

.test-box {
	margin-bottom: 40px;
}

/* ---------- 228. Footer ---------- */

footer { 
	background: #0c0c0c; /*111*/
}

footer .container {
	max-width: none;
	width: 100%;
	padding: 0 30px 20px;
}

@media (min-width: 992px) {
	footer .container {
		padding: 0 80px 20px;
	}
}

footer p {
	line-height: 15px;
	padding: 10px 0;
}

.nick img {
	height:60px;
}
.nick, .socials {
	display: inline-block;
	vertical-align: middle;
}

.socials ul {
	list-style: none;
	display: block;
	padding:0;
	margin:0;
}

.socials ul li {
	display: inline-block;
}

.socials ul li a{
	background:#95bc11;
	width:33px;
	height:33px;
	border-radius: 50%;
	display: block;
	font-size: 20px;
	text-align: center;
	line-height: 34px;
	color: #111;
	margin: 0 14px 10px;
}

.copyright {
	display: block;
	font-size: 13px;
	color:#8d8d8d;
	padding-left: 15px;
}

.footer-menu {
	font-size: 15px;
	margin-top:42px;
}

.footer-menu ul {
	list-style: none;
	line-height: 40px;
	margin-bottom: 0;
}


.footer-menu a {
	color: #fff;
}

.footer-menu a:active,
.footer-menu a:focus,
.footer-menu a:hover {
	color: #ddd;
}

.questions {
	margin-top: 42px;
}

.questions div {
	font-size: 25px;
	font-weight: 300;
	line-height: 40px;
}

.questions .small {
	font-size: 15px;
	color: #8d8d8d;
}

/* responsive behavior */


@media (max-width: 991px) {
	footer .col-md-4 {
		text-align: center;
	}
	footer .col-md-4:nth-child(2) {
		background: url(../images/cubes-overlay.png) repeat scroll #111;
		padding: 5px 0 30px;
		margin: 20px -20px;
	}
	.footer-menu ul {
		padding: 0;

	}
}
@media (min-width: 992px) {
	.col-md-4 {
		text-align: left;
		background: none;
	}
	footer .col-md-4:last-child {
		text-align: right;
	}
	.footer-menu ul {
		display: inline-block;
	}
	.footer-menu ul:last-child {
		position: relative;
		float: right;
	}
}